/* Gym-Details */

.gm-style .gm-style-iw{
  overflow:visible;
}
.delete-gym{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  border-top-left-radius: 10px;
  background: rgb(255, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.toggle-ex-gym{
  position: absolute;
  top: 30px;
  left: 0px;
  font-size: 17px;
  background: rgb(0, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.gym-label {
  margin-left: 10px;
  margin-right: 10px;
}
.gym-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
  margin: 6px;
}
.gym-icon-countdown {
    background-color: black;
    color: white;
    top: 35px;
    position: absolute;
    font-weight: 900;
    border-radius: 10px;
}
.gym-icon-countdown-red {
    background-color: black;
    color: red;
    top: 35px;
    position: absolute;
    font-weight: 900;
    border-radius: 10px;
    z-index:999999999;
}
.gym-icon-countdown-yellow {
    background-color: black;
    color: #e5e500;
    top: 35px;
    position: absolute;
    font-weight: 900;
    border-radius: 10px;
}
.gym-icon-countdown-green {
    background-color: black;
    color: #00cc00;
    top: 35px;
    position: absolute;
    font-weight: 900;
    border-radius: 10px;
}
